.section-about-us .left-column {
    float: right; 
  }
  
  
.name{
    color: white;
    background-color: rgb(47, 47, 145);
    display: inline-block;
}
.introduction-1{
    color: white;
}
.introduction-2{
    color: rgb(0, 102, 255);
}
.describe{
    color: white;
}


.left-column,
.right-column {
    box-sizing: border-box; 
    padding: 20px; 
}

.right-column {
    overflow: hidden; 
}

.section-about-us .right-column {
    float: left; 
  }
  main{
    margin-top: 150px;
    margin-left: 50px;
}
.sectionhero {
    position: relative;
    overflow: hidden; 
}
.introduction-1, .introduction-2{
    font-size: large;
}
.container {
    display: flex;
    align-items: center;
    height: 100%; 
}